

/* -------------------header-------------------- */


/* 全体背景----------------------- */
body{
    background-color: yellow;
}


/* <!-- クリック１回目表示画像 --> */
.theworld{
    height: 400px;
    position: relative;
}

.roadroller{
    height: 400px;
    display: none;
    position: absolute;
    left: 475px;

}

/* <!-- クリック２回目表示画像 --> */
.mudamuda{
    height: 450px;
    display: none;
    position: absolute;
    left: 500px;
    animation: hurueru .1s  infinite;
}
@keyframes hurueru {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}


/* <!-- クリック３回目表示画像 --> */
.fukidasi{
    height: 450px;
    display: none;
    position: absolute;
    left: 350px;
}

.stop{
  height: 450px;
    display: none;
    position: absolute;
    left: 450px;

}
/* <!-- クリック６回目表示画像 --> */
.PassageArea{
  font-weight: bold;
  font-size: 100px;
  position: absolute;
    left: 350px;
    bottom: 200px;
  font-family: fantasy;
  color:blueviolet;
  display: none;
}

/* <!-- クリック８回目表示画像 --> */
.success{
  height: 450px;
  display: none;
  position: absolute;
  left: 520px;
  top: 0px;

}

.successtext{
  font-weight: bold;
  font-size: 100px;
  position: absolute;
    left: 10px;
    bottom: 200px;
  font-family: fantasy;
  color: blueviolet;
  display: none;
  border: solid;
  border-width: 10px;
  letter-spacing: 100px;
}

.failure{

  height: 450px;
  display: none;
  position: absolute;
  left: 370px;
  top: 10px;

}


.failuretext{
  font-weight: bold;
  font-size: 100px;
  position: absolute;
    left: 30px;
    bottom: 200px;
  font-family: fantasy;
  color: blueviolet;
  display: none;
  border: solid;
  border-width: 10px;
  letter-spacing: 100px;

}




/* <!-- クリック９回目表示画像 --> */

.oraora{

  height: 450px;
  display: none;
  position: absolute;
  left: 300px;
  top: 10px;
  animation: hurueru .1s  infinite;
}
@keyframes hurueru {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}



.dio{
  height: 450px;
  display: none;
  position: absolute;
  left: 540px;
  top: 10px;

}


.lasttext2{
  font-weight: bold;
  font-size: 100px;
  position: absolute;
    left: 170px;
    bottom: 200px;
  font-family: fantasy;
  color: blueviolet;
  display: none;
  border: solid;
  border-width: 10px;
  letter-spacing: 100px;

}



/* <!-- クリック１０回目表示画像 --> */
.jotaro{
  height: 450px;
  display: none;
  position: absolute;
  left: 500px;
  top: 10px;
}

.lasttext1{
  font-weight: bold;
  font-size: 100px;
  position: absolute;
    left: 80px;
    bottom: 200px;
  font-family: fantasy;
  color: blueviolet;
  display: none;
  border: solid;
  border-width: 10px;
  letter-spacing: 100px;
}




/* 全体中央寄せ-------------------------- */
.mainvisual{
  text-align: center;
}




/* 以下ボタン用------------------------- */
.push{
    text-align: center;
    margin-top: 50px;
}

div.btn-border {
    padding: 1.5rem 4rem;
  
    -webkit-transform: skew(-15deg);
    font-size: 30px;
    font-weight: bold;
    transform: skew(-15deg);
  
    color: #fff;
    border: 3px solid #000;
    border-radius: 0;
    background: #555;
  }
  
  div.btn-border:hover:before {
    top: -3px;
  
    background: #000;
  }
  
  
  div.btn-border:hover:after {
    bottom: -3px;
   
    background: #000;
  }
  
  div.btn-border:hover {
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
  
    color: #fff;
  }
  
  